

.instagram-app-link i,
.twitter-app-link i {
    color: rgb(255, 255, 255);
    font-size: 18px;
}
.facebook-app-link i {
    font-size: 18px;
    color: rgb( 255, 255, 255);
}
.media-app-container {
    display: flex;

}
.instagram-app-container,
.twitter-app-container,
.facebook-app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background-color: rgb(179, 179, 179);
    margin: 2px;

}
.Spotify-AB {
    font-size: 16px;
    color: rgb(179, 179, 179);
    margin-top: 40px;
    margin-left: 35px;
    padding-bottom: 85px;
} 
